//= Some styles

* {
    -webkit-font-smoothing: antialiased;
}

::-moz-selection {
    background: $color-orange;
    color: $color-white;
    text-shadow: none;
}

::selection {
    background: $color-orange;
    color: $color-white;
    text-shadow: none;
}

p {
    font-weight: 300;
}
//= Navbar

.navbar-transparent {
    border-top: 7px solid $color-orange;
}
//= Text

.text-highlight {
    color: $color-orange;
    font-weight: 400;
}

.text-light {
    font-weight: 200;
}

.text-blue {
    color: $color-blue;
}

.text-bold {
    font-weight: 500;
}

.text-orange {
    color: $color-orange;
}
//= Backgrounds

.bg-orange {
    background: $color-orange;
    color: $color-light;
}

.bg-dark {
    background: $color-dark;
    color: $color-light;
}

.bg-light {
    background: $color-light;
    color: $color-dark;
}

.bg-grey {
    background: $color-grey;
}

.bg-team {
    background-image: url('../img/team.jpg');
    background-repeat: no-repeat;
    /*background-size: cover;*/
    background-position: bottom;
    color: $color-white;
}

.bg-team .overlay {
    background: transparentize($color-orange, 0.1);
}

.bg-team .text-highlight {
    color: $color-white;
    font-family: $font-family-google;
    font-weight: 600;
    letter-spacing: -0.06em;
}
//= Borders

.bb-white {
    border-bottom: 1px solid $color-white;
}

.bb-dark {
    border-bottom: 1px solid $color-dark;
}
//= Buttons

.btn-border {
    border: 1px solid $color-dark;
    color: $color-dark;
    border-radius: 8px;
}

.btn-border-light {
    border: 1px solid $color-light;
    color: $color-light;
    border-radius: 8px;
}

.btn-border:hover {
    background-color: $color-orange;
    color: $color-light;
    border-color: $color-orange;
}

.btn-border-light:hover {
    background-color: $color-orange;
    color: $color-white;
    border-color: $color-orange;
}

.btn-border-grey {
    border: 1px solid darken($color-grey, 20%);
    color: darken($color-grey, 20%);
    border-radius: 8px;
}

.btn-border-grey:hover {
    border-color: $color-dark;
    color: $color-dark;
}
//= Index
//== Hero section

#whatwedo-scroller,
#whatwedo-scroller:hover {
    font-size: 20px;
    font-weight: 400;
    color: $color-white;
}

#whatwedo-scroller:hover {
    text-decoration: none;
}

//== StauMobil section
#staumobil .img-holder { margin: 0 auto; max-width: 450px; }
@media (min-width: 768px) {
    #staumobil .img-holder > img { margin-top: 70px; }
}

//== Social section

#social {
    color: $color-white;
}

#social .text-highlight {
    color: $color-dark;
}

#social i {
    font-size: 48px;
    color: $color-white;
    padding-left: 12px;
    padding-right: 12px;
}

#social i.fa-instagram:hover {
    color: $color-red;
}

#social i.fa-github:hover {
    color: $color-dark;
}

#social i.fa-linkedin:hover {
    color: $color-blue;
}

#social i.fa-xing:hover {
    color: $color-darkgrey;
}
